/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  color: #1f1f1f;
  overflow: hidden; }

header .headerContainer {
  display: flex;
  justify-content: space-between;
  background-color: #FEC5BB;
  height: 10vh;
  align-items: center; }
  header .headerContainer a {
    text-decoration: none;
    color: #1f1f1f; }
  header .headerContainer .headerLogo {
    margin-left: 15px;
    width: 50px;
    height: auto;
    filter: invert(15%) sepia(3%) saturate(27%) hue-rotate(37deg) brightness(96%) contrast(105%);
    z-index: 1; }
  header .headerContainer .headerList {
    padding-right: 15px; }
    header .headerContainer .headerList .listItem {
      list-style: none;
      display: inline-block;
      padding: 5px 15px; }
      header .headerContainer .headerList .listItem a {
        text-decoration: none;
        color: #1f1f1f; }
      header .headerContainer .headerList .listItem:hover {
        background-color: #FCD5CE;
        border-radius: 25px; }
  header .headerContainer .hamburgerRR {
    width: 28px;
    height: 30px;
    margin: 10px 15px;
    display: none; }
    header .headerContainer .hamburgerRR div {
      width: 100%;
      height: 5px;
      background: #1f1f1f;
      margin: 4px auto;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 15px; }

.mainIndex .navigationBar {
  background-color: #FAE1DD;
  width: 200px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .mainIndex .navigationBar .navMenu .navTitle {
    font-size: 1.25em;
    font-weight: 600;
    margin: 15px; }
  .mainIndex .navigationBar .navMenu .navList {
    list-style: none; }
    .mainIndex .navigationBar .navMenu .navList .navRecipe {
      margin: 15px; }
      .mainIndex .navigationBar .navMenu .navList .navRecipe a {
        text-decoration: none;
        color: #1f1f1f; }
  .mainIndex .navigationBar .navDraw img {
    width: 100px;
    height: auto; }

.mainIndex .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/heroCocina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E8E8E4;
  height: 90vh;
  width: 100%;
  color: #f5f5f5;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mainIndex .hero .heroTitle {
    font-weight: 500;
    font-size: 1.25em; }

.mainIndex .contactPage {
  display: flex;
  transition: all 0.4s ease;
  width: 100%; }
  .mainIndex .contactPage .cocineraImg {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10vh;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.4s ease; }
  .mainIndex .contactPage .contactText {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainIndex .contactPage .contactText p {
      font-size: 1.5em;
      font-weight: 500;
      text-align: center; }
    .mainIndex .contactPage .contactText a img {
      width: 40px;
      height: 40px; }
  .mainIndex .contactPage:hover .cocineraImg {
    filter: blur(10px); }

.mainIndex .mainRecipe {
  background-color: #F8EDEB;
  width: 100%; }
  .mainIndex .mainRecipe .recipeHeader {
    border-bottom: 1px solid #ccc; }
    .mainIndex .mainRecipe .recipeHeader h1 {
      padding-left: 20px;
      border-bottom: 1px solid #ccc; }
    .mainIndex .mainRecipe .recipeHeader .recipeData {
      display: flex;
      padding: 0 10px;
      justify-content: space-around;
      align-items: center;
      margin: 20px 0; }
      .mainIndex .mainRecipe .recipeHeader .recipeData .recipeImg {
        border-radius: 20px;
        overflow: hidden;
        width: 250px;
        height: 250px; }
        .mainIndex .mainRecipe .recipeHeader .recipeData .recipeImg img {
          width: 250px;
          height: 250px;
          object-fit: cover;
          transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); }
          .mainIndex .mainRecipe .recipeHeader .recipeData .recipeImg img:hover {
            transform: scale(1.1); }
      .mainIndex .mainRecipe .recipeHeader .recipeData .recipeIngredients {
        padding: 0 10px; }
        .mainIndex .mainRecipe .recipeHeader .recipeData .recipeIngredients p {
          font-size: 1.25em;
          font-weight: 600;
          margin: 0 0 5px 0; }
        .mainIndex .mainRecipe .recipeHeader .recipeData .recipeIngredients ul {
          list-style: none; }
  .mainIndex .mainRecipe .recipeProcess {
    margin: 40px; }
    .mainIndex .mainRecipe .recipeProcess .processTitle {
      font-size: 1.25em;
      font-weight: 600;
      margin-bottom: 20px; }
    .mainIndex .mainRecipe .recipeProcess ol li {
      margin: 15px 0; }

.mainIndex .recipeSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f1faee; }
  .mainIndex .recipeSection .recipeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 15px; }
    .mainIndex .recipeSection .recipeCard .recipeCardImg {
      width: 200px;
      height: 200px;
      border-radius: 20px;
      overflow: hidden; }
      .mainIndex .recipeSection .recipeCard .recipeCardImg img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .mainIndex .recipeSection .recipeCard .recipeTitle {
      margin: 8px 0 0 0;
      font-size: 1.15em;
      font-weight: 600; }
    .mainIndex .recipeSection .recipeCard:hover .recipeCardImg img {
      transform: scale(1.1); }

.mainIndex {
  display: flex; }

@media (max-width: 576px) {
  body header .headerContainer .headerLogo {
    z-index: 1; }
  body header .headerContainer .headerList {
    display: none;
    margin: 0;
    padding: 0;
    background-color: #FEC5BB;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding-top: 30%; }
    body header .headerContainer .headerList .listItem {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      padding: 15px 30px; }
      body header .headerContainer .headerList .listItem:hover {
        border-radius: 0px; }
  body header .headerContainer .hamburgerRR {
    display: inline-block;
    z-index: 1; }
  body header .headerContainer #hamburgerRR.on .one {
    transform: rotate(45deg) translate(5px, 5px); }
  body header .headerContainer #hamburgerRR.on .two {
    opacity: 0; }
  body header .headerContainer #hamburgerRR.on .three {
    transform: rotate(-45deg) translate(7px, -8px); }
  body .mainIndex .navigationBar {
    display: none; }
  body .mainIndex .mainRecipe {
    padding: 15px; }
    body .mainIndex .mainRecipe .recipeHeader h1 {
      padding: 15px; }
    body .mainIndex .mainRecipe .recipeHeader .recipeData {
      flex-direction: column; }
      body .mainIndex .mainRecipe .recipeHeader .recipeData .recipeImg {
        width: 200px;
        height: 200px; }
        body .mainIndex .mainRecipe .recipeHeader .recipeData .recipeImg img {
          width: 200px;
          height: 200px; }
      body .mainIndex .mainRecipe .recipeHeader .recipeData .recipeIngredients {
        margin: 15px 0; }
        body .mainIndex .mainRecipe .recipeHeader .recipeData .recipeIngredients p {
          margin-bottom: 5px; }
  body .mainIndex .contactPage .contactText {
    margin-top: 40vh;
    padding: 25px; } }
