/* reset */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "base/variables.scss";

body{
    font-family: 'Kiwi Maru', serif;
    color: $negro;
}

@import "components/header.scss";
@import "components/index.scss";
@import "components/navBar.scss";
@import "components/hero.scss";
@import "components/recipe.scss";