.mainIndex{
    .contactPage{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 90vh;
        .contactForm{
            text-align: center;
            align-self: center;
            p{
                font-size: 1.25em;
                font-weight: 600;
                color: $negro;
            }
            a{
                img{
                    width: 50px;
                }
            }
        }
        .contactImg{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}