.mainIndex{
    .hero{
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../img/heroCocina.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $azul2;
        height: 90vh;
        width: 100%;
        color: $blanco;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .heroTitle{
            font-weight: 500;
            font-size: 1.25em;
        }
    }
    a{
        text-decoration: none;
    }
    button{
        display: none;
        padding: 10px 30px;
        background-color: $rosa2;
        margin: 15px 0 0 0;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        &:hover{
            background-color: $rosa;
        }
    }
}